chromadb==1.5.5
fastapi==0.135.2
fastapi-users==15.0.5
langchain==1.2.13
langchain-classic==1.0.3
langchain-community==0.4.1
langchain-core==1.2.22
langchain-ollama==1.0.1
langchain-text-splitters==1.1.1
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pypdf==6.9.2
python-multipart==0.0.22
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
streamlit==1.55.0
uvicorn==0.42.0